{% extends 'Blog/padre.html' %}

{% load static %}

{% block padre %}


<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <br><br>
                <p> Mi nombre es Juan Cruz Novakovich, tengo 22 años, actualmente estoy cursando 4to año de ingenieria Electrónica en la UTN-FRSN. A su vez estoy adquirir nuevos conocimientos en el area de la programación</p>
                <p> Esta web fue creada utilizando los conocimientos adquiridos en el curso de programación en Python de <a href="https://www.coderhouse.com/">Coderhouse
            </div>
        </div>
    </div>
</article>

{% endblock %}