<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for post in object_list %}

    <li>
        <p>{{post.titulo}}</p>
        <a href="{% url 'Blog:detalle' post.id %}">leer</a>
        {% if request.user == post.autor %}
        <a href="{% url 'Blog:delete' post.id %}">Borrar</a>
        <a href="{% url 'Blog:editarPost' post.titulo %}">editar</a>
        {% endif %}
    </li>

    {% endfor%}
    <br>
    <a href="{% url 'Blog:post' %}">Volver</a>
    
</body>
</html>