{% extends 'Blog/padre.html' %}

{% load static %}

{% block msj %}
Posteos
{% endblock %}

{% block padre %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="container mt-5">
                {% if object_list %}
                
                {% for posts in object_list %}
                <br><br>
                <div class="post-preview">
                    <a style="color: black;" href="{%url 'Blog:detalle' posts.id%}">
                        <h2 style="color: black;" class="post-title">{{posts.titulo}}</h2>
                        <h4 style="color: black;" class="post-subtitle">{{posts.subtitulo}}</h4>
                    </a>
                    <p class="post-meta">Posteado por {{posts.autor}} el {{posts.fecha}}</p>
                    <a href="{%url 'Blog:detalle' posts.id%}">Leer más</a>
                    {% if request.user == posts.autor %}
                    <a href="{%url 'Blog:editarPost' posts.titulo%}">editar</a>
                    <a href="{%url 'Blog:delete' posts.id%}">borrar</a>                    
                    {% endif %}
                </div>
                {% endfor %}
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="container mt-5">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'Blog:newPost' %}" class="btn btn-success">Nuevo post</a>
                        {% else %}
                        <p>
                            Para crear un post,
                            <a href="{% url 'Account:login' %}">inicia sesión</a>
                        </p>
                        <p><a href="{% url 'Account:inicio' %}">Volver al inicio</a></p>
                        {% endif %}
                    </div>
                </div>

                {% else %}

                        <h2>No existen posts aún</h2>
                        {% if request.user.is_authenticated %} 
                        <p><a href="{% url 'Blog:newPost' %}">Agregar un post</a></p>
                        <p><a href="{% url 'Blog:inicio' %}">Volver al inicio</a></p>
                        {% else %}
                        <p>
                            Para crear un post,
                            <a href="{% url 'Account:login' %}">inicia sesión</a>
                        </p>
                        <p><a href="{% url 'Account:inicio' %}">Volver al inicio</a></p>
                        {% endif %}
                    </div>
                </div>

                {% endif %}

            </div>
        </div>
    </div>
</div>
 
{% endblock  %}