{% extends 'Account/FormPadre.html' %}

{% load static %}


{% block formulario %}

<form action="" method="POST" class="signin-form">{% csrf_token %}
    
   
  


    <div class="form-group">
        {{formulario}}       
    </div>


<div class="form-group">
  <button type="submit" class="form-control btn btn-primary submit px-3">Publicar</button>
</div>
<br>
<div class="social d-flex text-center">
 
  <a href="{% url 'Blog:post' %}" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Volver</a>
</div>
</form>


{% endblock %}