{% extends 'Account/FormPadre.html' %}

{% load static %}

{% block titulo %}
Registro
{% endblock %}
 

{% block formulario %}

<form action="" method="POST" class="signin-form">{% csrf_token %}
    
  

    <div class="form-group">
        {{formulario}}       
    </div>




<div class="form-group">
  <button type="submit" class="form-control btn btn-primary submit px-3">Editar</button>
</div>
<br>
<div class="social d-flex text-center">
  <a href="{% url 'Account:avatar' %}" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>Agregar Avatar</a>
  <a href="{% url 'Blog:inicio' %}" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Volver</a>
</div>

</form>

{% endblock %}


    
    